.content {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .content {
    color: #f7f7f7;
  }
  .content strong {
    color: #a7aec7;
  }
  .content {
    color: #a7aec7;
  }
}

.content img {
  align-self: center;
  margin: 16px;
  border-radius: 10px;
}

@media screen and (min-width: 720px) {
  .content img {
    max-width: 500px;
  }
}
