.bar {
  width: 35px;
  height: 5px;
  background-color: rgb(32, 30, 30);
  margin: 6px 0;
}

@media (prefers-color-scheme: dark) {
  .bar {
    background-color: #f7f7f7;
  }
  .menuItem {
    color: #f7f7f7;
  }
}
