.bar,
.barOpen {
  width: 35px;
  height: 5px;
  margin: 6px 0;
}

.barOpen {
  background-color: rgb(32, 30, 30);
}

.bar {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .bar,
  .barOpen {
    background-color: #a7aec7;
  }
  .menuItem {
    color: #a7aec7;
  }
}

.hamburgerLink {
  list-style: none;
  padding: 16px;
  margin: 16px 0;
}

.hamburgerAnchorLink {
  display: flex;
  color: black;
}

.hamburgerMenuIcon {
  padding-right: 16px;
}

@media (prefers-color-scheme: dark) {
  .hamburgerAnchorLink {
    color: #a7aec7;
  }
}

.activePath {
  text-decoration: underline;
}
